.numbers {
  background-color: var(--bg-color);
  &__content {
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 72px;
    border-bottom: 1px solid #dad1ca;
  }
  &__list {
    display: flex;
    @include nine-tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
    width: 284px;
    text-align: center;
    @include nine-tablet {
      margin-bottom: 40px;
    }
  }
  // &__item:not(:last-child) {
  //   margin-right: 28px;
  // }
  &__link {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: var(--dark-color);
  }
  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: var(--text-color);
  }
}
