<section class="about" id="about">
  <div class="container">
    <div class="about__wrapper">
      <h4 class="about__subtitle sub">About us</h4>
      <div class="about__top">
        <h2 class="about__title title">
          We are here to support vulnerable communities
        </h2>
        <div class="about__btns">
          <a href="" class="about__link btn btn-reset">Donate now</a>
          <a href="" class="about__link light-btn btn-reset">About us</a>
        </div>
      </div>
      <div class="about__content">
        <div class="about__left">
          <p class="about__text text">
            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            molestie
            a iaculis at erat pellentesque adipiscing commodo elit at.
          </p>
          <img class="about__image" src="../img/about-1.png" alt="child">
          <img class="about__image" src="../img/about-2.png" alt="child">
        </div>
        <div class="about__right">
          <img class="about__picture" src="../img/about-3.png" alt="child">
          <p class="about__descr text">
            Vitae aliquet nec ullamcorper sit amet risus nullam eget felis et netus et malesuada fames urna nec tincidunt praesent semper
            feugiat metus aliquam eleifend mi in nulla posuere sollicitudin pretium aenean pharetra magna ac placerat.
          </p>
          <ul class="about__list list-reset">
            <li class="about__item">
              Excepteur sint occaecat cupidatat non proident
            </li>
            <li class="about__item">
              Pellentesque elit ullamcorper dignissim
            </li>
            <li class="about__item">
              Nibh mauris cursus mattis molestie a iaculis
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>