<section class="contacts" id="pages">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__logo">
        <a class="logo" href="#">
          <img loading="lazy" src="../img/logo.svg" class="image" width="200" height="32" alt="logo">
        </a>
        <p class="contacts__descr text">
          Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam mauris.
        </p>
      </div>
      <div class="contacts__pages">
        <ul class="contacts__list list-reset">
          <h3 class="contacts__subject">Menu</h3>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Home
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              About
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Blog
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Blog post
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Donate
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Donate Single
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Contac
            </li>
          </a>
        </ul>
        <ul class="contacts__list list-reset">
          <h3 class="contacts__subject">Utility Pages</h3>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Start here
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Styleguide
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Password Protected
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              404 Not found
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Licenses
            </li>
          </a>
          <a href="" class="contacts__link">
            <li class="contacts__item">
              Changelog
            </li>
          </a>
        </ul>
      </div>
      <div class="contacts__accede">
        <div class="contacts__content">
          <h2 class="contacts__title title">
            Join us and let’s make a better world, today
          </h2>

          <a class="contacts__btn btn btn-reset" href="#">Donate now</a>
          <a class="contacts__light-btn light-btn btn-reset" href="#">More ways to help</a>

        </div>
      </div>
    </div>
  </div>
</section>