<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="logo header__logo" href="#">
        <img loading="lazy" src="../img/logo.svg" class="image" width="200" height="32" alt="logo">
      </a>
      <nav class="nav" title="main-navigation" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a class="nav__link" data-menu-item href="#">home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" data-menu-item href="#about" data-scroll>about</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" data-menu-item href="#pages">pages</a>
          </li>
        </ul>
        <button class="btn-reset burger-close" data-menu-close aria-label="Закрыть меню"></button>
      </nav>
      <div class="header__donate">
        <a class="header__basket" href="#">
          <img loading="lazy" src="../img/basket.svg" class="image__basket" width="32" height="34" alt="basket">
        </a>
        <a class="header__btn btn btn-reset" href="#">Donate now</a>
      </div>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>