<section class="help">
  <div class="container">
    <h4 class="help__subtitle sub">How we help?</h4>
    <div class="help__top">
      <h2 class="help__title title">
        What are we doing to assist these communities?
      </h2>
      <a class="help__btn btn btn-reset" href="#">Donate now</a>
    </div>
    <div class="help__cards">
      <ul class="help__list list-reset">
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-1.png" alt="" class="help__img">
            <p class="help__descr">
              House & shelter
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-2.png" alt="" class="help__img">
            <p class="help__descr">
              Love & support
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-3.png" alt="" class="help__img">
            <p class="help__descr">
              Food & groceries
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-4.png" alt="" class="help__img">
            <p class="help__descr">
              Environmental help
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-5.png" alt="" class="help__img">
            <p class="help__descr">
              Education
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
        <a class="list__card" href="#">
          <li class="help__item">
            <img src="../img/support-6.png" alt="" class="help__img">
            <p class="help__descr">
              Health & insurance
            </p>
            <p class="help__text">
              Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum tempus hac.
            </p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>