<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__left">
        <h2 class="hero__title">
          Giving help to those who need it
        </h2>
        <p class="hero__descr">
          Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
        </p>
        <a class="hero__link btn btn-reset" href="#">Donate now</a>
        <a class="hero__link light-btn  btn-reset" href="#">About our charity</a>
      </div>
      <div class="hero__right">
        <img class="hero__img" src="../img/hero.jpg" alt="child">
      </div>
    </div>
  </div>
</section>