<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatem repellat cumque impedit. Obcaecati sapiente nulla
      praesentium! Quae exercitationem reprehenderit sequi itaque quod dolorum ipsum nisi similique, molestias voluptatum iure accusantium
      maiores alias obcaecati labore omnis repellendus ut velit iste eius animi vero reiciendis. Molestiae nihil maxime blanditiis, sint
      amet velit pariatur cumque nesciunt dolore rem iste odit praesentium minima delectus ipsum eum voluptatibus sapiente veritatis. Dicta
      necessitatibus sequi, ullam ipsum temporibus accusantium cumque debitis vitae minima. Expedita corporis minus ex iusto animi placeat
      necessitatibus dignissimos quisquam ab enim quis voluptate corrupti, nesciunt officia a atque. Tenetur nobis atque, quisquam quidem
      recusandae tempore ducimus incidunt illum repudiandae exercitationem. Labore numquam neque, eveniet, sapiente cumque explicabo
      necessitatibus odio eum minima recusandae, error ex ut nobis velit molestiae eaque consectetur exercitationem eos aliquam placeat
      consequatur. Asperiores eaque, quam, ducimus rerum eos nulla accusamus cupiditate praesentium est tenetur laudantium. Temporibus non
      velit odio laborum! Voluptatum commodi corrupti officiis eius rem, placeat sunt ratione optio in incidunt maxime magni, maiores at
      dolor sed ut, reiciendis velit. Odit, neque voluptatibus consequuntur nam provident animi ipsa laborum molestias fugiat recusandae
      similique mollitia? Odio pariatur animi, quis non, perspiciatis soluta aperiam vero rem minus dolor aliquam optio sunt? Esse officiis
      provident eum sequi neque? Ut dolores maxime architecto maiores debitis laudantium odio cum earum repellendus sequi consequatur
      impedit, odit rerum saepe. Autem nostrum odio expedita, eius quod soluta rerum aliquam fugiat, magni dolorum harum nemo animi
      doloremque cumque quae minus aspernatur. Assumenda libero vitae dolores, culpa eius nobis soluta est ex quis quasi aliquid iure modi
      laborum impedit veniam illum tenetur repellat porro dolore nemo facilis minus quos dicta? Sed, assumenda odit dolores veniam aliquid
      saepe perspiciatis delectus nisi sunt optio voluptatem natus quisquam iusto commodi nobis numquam quam. Nobis possimus animi qui
      commodi maiores tempore libero!
    </div>
  </div>
</div>