<section class="movie">
  <div class="container">
    <div class="movie__wrapper">
      <div class="movie__img">
        <button class="btn-reset movie__play" aria-label="Play video">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="movie__content" src="video.mp4" muted loop preload="metadata"></video>
      </div>
      <!-- <div class="movie__img">
        <img src="../img/video.png" alt="video">
        <a class="movie__link" target="_blank" href="https://www.youtube.com/watch?v=znug3bqs9gA">
          <img class="movie__play" src="../img/play.png" alt="play">
        </a>
      </div> -->
      <ul class="movie__list list-reset">
        <li class="movie__item">
          <p class="movie__descr">
            The goal and mission behind
          </p>
          <p class="movie__text">
            Cursus metus aliquam eleifend mi in nulla posuere faucibus interdum posuere lorem ipsum dolor sit amet hendrerit dolor magna
            eget
            est lorem. Auctor urna nunc id cursus metus aliquam eleifend. Dictumst quisque sagittis purus sit amet volutpat consequa.
          </p>
        </li>
        <li class="movie__item">
          <p class="movie__descr">
            The goal and mission behind
          </p>
          <p class="movie__text">
            Cursus metus aliquam eleifend mi in nulla posuere faucibus interdum posuere lorem ipsum dolor sit amet hendrerit dolor magna
            eget
            est lorem. Auctor urna nunc id cursus metus aliquam eleifend. Dictumst quisque sagittis purus sit amet volutpat consequa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>