<section class="news">
  <div class="container">
    <div class="news__top">
      <h4 class="news__subtitle sub">News & Resources</h4>
      <h2 class="news__title title">Read our latest news</h2>
    </div>
    <div class="news__cards">
      <div class="news__card">
        <img class="news__img" src="../img/news-1.jpg" alt="">
        <div class="news__modal">
          <p href="" class="news__text">
            Articles
          </p>
          <time class="news__time" datetime="2022-02-11">
            Feb 11, 2026
          </time>
          <h4 class="news__subject">
            What to donate to a food bank and what to avoid ?
          </h4>
          <button class="news__link btn-reset" data-graph-path="news">Read more</button>
        </div>
      </div>
      <div class="news__card">
        <img class="news__img" src="../img/news-2.jpg" alt="">
        <div class="news__modal">
          <p href="" class="news__text">
            Resources
          </p>
          <time class="news__time" datetime="2022-02-11">
            Feb 11, 2026
          </time>
          <h4 class="news__subject">
            13 ways to give to charity without breaking your budget
          </h4>
          <button class="news__link btn-reset" data-graph-path="news">Read more</button>
        </div>
      </div>
    </div>
    <div class="news__btns">
      <a class="news__btn btn btn-reset" href="#">Donate now</a>
      <a class="news__light-btn light-btn btn-reset" href="#">Read more news</a>
    </div>
  </div>
</section>