<nav class="numbers">
  <div class="container">
    <div class="numbers__content">
      <ul class="numbers__list list-reset">
        <li class="numbers__item">
          <a class="numbers__link" href="#">
            200<span>m</span>
          </a>
          <p class="numbers__text">Humans impacted</p>
        </li>
        <li class="numbers__item">
          <a class="numbers__link" href="#">
            50<span>k</span>
          </a>
          <p class="numbers__text">Collaborators</p>
        </li>
        <li class="numbers__item">
          <a class="numbers__link" href="#">
            370<span>k</span>
          </a>
          <p class="numbers__text">Donations</p>
        </li>
        <li class="numbers__item">
          <a class="numbers__link" href="#">
            100<span>+</span>
          </a>
          <p class="numbers__text">Assisted communities</p>
        </li>
      </ul>
    </div>
  </div>
</nav>