<section class="testimonials">
  <div class="container">
    <div class="testimonials__content">
      <div class="testimonials__left">
        <img class="testimonials__img" src="../img/testimonials-people.png" alt="people">
        <article class="testimonials__article">
          <p class="testimonials__quote">
            “Ultrices eros in cursus turpis massa tincidunt sem nulla pharetra diam sit amet nisl suscipit adipis.”
          </p>
          <h3 class="testimonials__subject">
            Amara Onai
          </h3>
          <p class="tesimonials__text">
            Citizen of South Africa
          </p>
        </article>
      </div>
      <div class="testimonials__right">
        <h4 class="testimonials__subtitle sub">
          Testimonials
        </h4>
        <h2 class="testimonials__title title">
          See how we are making a difference
        </h2>
        <p class="testimonials__descr text">
          Vitae aliquet nec ullamcorper sit amet risus nullam eget felis etolme netus et malesuada fames urna nec tincidunt praesen
        </p>
        <ul class="testimonials__list list-reset">
          <li class="testimonials__item">
            Excepteur sint occaecat cupidatat non proident
          </li>
          <li class="testimonials__item">
            Pellentesque elit ullamcorper dignissim
          </li>
          <li class="testimonials__item">
            Nibh mauris cursus mattis molestie a iaculis
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>