<section class="video">
  <div class="container">
    <div class="video__wrapper">
      <div class="video__top">
        <h3 class="video__subtitle sub">
          Take a look at our video
        </h3>
        <h2 class="video__title title">
          We have helped over 200 vulnerable communities worldwide
        </h2>
        <a class="video__btn btn btn-reset" href="#">Donate now</a>
        <a class="video__white-btn light-btn btn-reset" href="#">About our charity</a>
      </div>
    </div>
  </div>
</section>